In [1]:
import pandas as pd
movies = pd.read_csv('processed_dataset/MovieLens-1M/movies/movies_movielens.csv')

In [2]:
movies

,item_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [3]:
# Replace '|' with ', '
movies['genres'] = movies['genres'].str.replace('|', ', ')

# Display the first few rows to confirm the change
movies.head()

   item_id                               title                          genres
0        1                    Toy Story (1995)   Animation, Children's, Comedy
1        2                      Jumanji (1995)  Adventure, Children's, Fantasy
2        3             Grumpier Old Men (1995)                 Comedy, Romance
3        4            Waiting to Exhale (1995)                   Comedy, Drama
4        5  Father of the Bride Part II (1995)                          Comedy

In [8]:
movies['title'] = movies['title'].str.replace(r'\s*\(\d{4}\)', '', regex=True)
movies.head()

   item_id                        title                          genres  year
0        1                    Toy Story   Animation, Children's, Comedy  1995
1        2                      Jumanji  Adventure, Children's, Fantasy  1995
2        3             Grumpier Old Men                 Comedy, Romance  1995
3        4            Waiting to Exhale                   Comedy, Drama  1995
4        5  Father of the Bride Part II                          Comedy  1995

In [9]:
output_path = './movies_movielens_modified.csv'
movies.to_csv(output_path, index=False)